/* Estilos gerais */
body {
    background-image: url(capaa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4E0076;
    font-family: 'Arial', sans-serif;
    transition: background 0.3s, color 0.3s;
}

header {
    color: #4E0076;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, color 0.3s;
}

nav {
    padding: 5px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: #9d68aa;
    scroll-margin-top: 80px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    color: #fddfff;
}

/* Destacar a seção ativa no menu */
nav ul li a.active {
    color: #17a2b8;
    font-weight: bold;
    border-bottom: 2px solid #17a2b8;
    padding-bottom: 5px;
}

/* Seções */
section {
    padding: 30px;
    margin: 20px auto;
    max-width: 900px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s;
}

h2 {
    color: #8c129c;
    border-bottom: 2px solid #cc4aec;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

ul li:hover {
    background: #edd6f7;
}

a {
    color: #bf25fc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}

/* Botão de alternância do modo escuro */
#toggle-theme {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #bf25fc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s, color 0.3s;
}

#toggle-theme:hover {
    background: #8c129c;
    transform: scale(1.1);
}

/* Estilos do modo escuro */
.dark-mode {
    background-color: #121212;
    color: #f8f9fa;
}

.dark-mode body {
    background-image: none;
    background-color: #1e1e1e;
}

.dark-mode header {
    color: #d83dffb7;
    background: linear-gradient(to right, #333, #444);
}


.dark-mode nav ul li a {
    color: #f8f9fa;
}

.dark-mode nav ul li a:hover {
    color: #cc4aec;
}

.dark-mode section {
    background: #1e1e1e;
    color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

/* Ajuste do botão de modo escuro */
.dark-mode #toggle-theme {
    background: #f8f9fa;
    color: #121212;
}

.dark-mode #toggle-theme:hover {
    background: #bf25fc;
}
